<div class="outer-div">
  <form id="add-project-form" [formGroup]="addProjectForm" (ngSubmit)="onAdd()" novalidate>

    <div class="row">
      <div class="col-md-2">
        <label>Project:</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="project" id="project">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Priority:</label>
      </div>
      <div class="col-md-6">
        <input type="range" id="priority" min="0" max="30" step="1" formControlName="priority">
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-2">
        <input type="checkbox" (change)="onSelect($event)" class="form-check-input" id="setDate" formControlName="setDate">
        <label class="form-check-label" for="setDate">Set Start and End Date</label>
      </div>
      <div class="col-md-3">
        <input type="date" class="form-control" formControlName="startDate" id="startDate" placeholder="Start Date">
      </div>
      <div class="col-md-3">
        <input type="date" class="form-control" formControlName="endDate" id="endDate" placeholder="End Date">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Manager:</label>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" formControlName="manager" id="manager" required>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" id="search">SEARCH</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary" id="add" [disabled]="!addProjectForm.valid">ADD</button>
        <button type="button" class="btn btn-primary" id="reset" (click)="addProjectForm.reset({priority:0,startDate:{value:today,disabled:true},endDate:{value:tomorrow,disabled:true}})">RESET</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <hr>
      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
  </div>

</div>