.row{
    margin: 1% 1% 1% 1%;
}

label{
    font-weight: bold;
}

input#priority{
    width: 100%;
    color: #333333 !important;
}

button#add{
    margin-right: 1%;
}

button#search{
    float:  right;
}

button#sortBystartDate, button#sortByendDate, button#sortByPriority, button#sortByCompleted{
    margin-right: 5%;
}

button#edit-btn, button#delete-btn{
    float: right;
    width: 90%;
}

.ruler{
    border-top: 2px dotted blue;
}