.row{
    margin: 1% 1% 1% 1%;
}

label{
    font-weight: bold;
}

input#priority{
    width: 100%;
    color: #333333 !important;
}

button#add{
    margin-right: 1%;
}

button#search{
    float:  right;
}